



<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="menu" [class.show-background]="showToolbar" style="margin-top: 25px;">
    <ion-buttons slot="start">
      <ion-menu-button class="menucs"></ion-menu-button>
    </ion-buttons>
    <ion-icon *ngIf="userDetail.reg_UserType=='Admin'" (click)='Update()' style="color: #f29500;" class="foure"
    src="../../assets/img/35.svg"></ion-icon>
<ion-icon *ngIf="userDetail.reg_UserType=='User'" (click)='User()' class="foure" src="../../assets/img/7.svg">
</ion-icon>
    <ion-icon class="foure " *ngIf="userDetail.reg_UserType=='Admin'" [routerLink]="['/admin-records']"  src="../../assets/img/36.svg"></ion-icon>

  </ion-toolbar>
</ion-header>
<div class="form-prof">
  <h2>About Us</h2>
</div>
<ion-content>
  <div>
    <p class="contentt">
      The demand of webinars have increased dramatically in the recent past while there are no proper tools or system in
      place to guide in conducting a webinar making it an exhaustive and a mind boggling task. Our Wheel of Webinar
      (WOW)
      comes to aid by providing
      a seamless and handy mobile application tool for successful organization of quality webinars. The present mobile
      application consists of the checklist in the form of a wheel, a macro wheel containing 16 spokes, each spoke
      representing a step-in webinar and micro wheel containing sub steps. Completing each wheel take the user a step
      ahead towards the completion of webinar.
    </p>

    <p class="contentt">

      The WOW app is a product of Sri Balaji Vidyapeeth (SBV) in collaboration with the Department of Community
      medicine.
      SBVU a Deemed-to-be- University accredited by NAAC with ‘A++’ Grade and has been successively ranked one among the
      top 100 Indian Universities, based on the India rankings, released by NIRF for the years 2016, 2017, 2018, 2019
      and 2020 respectively.
      </p>
      <p class="contentt">
       Mahatma Gandhi Medical College and Research Institute (MGMCRI), a constituent college of SBV
      figures among the top 40 medical colleges of our country, as per NIRF India rankings 2020. The Department of
      Community Medicine (MGMCRI) serves as a unique platform for those who are interested in the three spheres-
      teaching
      and training of health sciences personnel, socially relevant research and patient-care services at primary care
      level.
    </p>

    <p class="contentt">
      With an immense training and experience in conducting seminars and webinars, our team assure that WOW provides you
      a
      smooth journey in successful completion of your webinar.
    </p>


  </div>
</ion-content>
<div class="webinar-bg"></div>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="flex-tool">
      <ion-icon class="fot-icons" src="../../assets/img/45-home.svg" [routerLink]="['/mywebinar']"></ion-icon>
      <ion-icon class="fot-icons" src="../../assets/img/1.svg"  [routerLink]="['/personal-detaills']"></ion-icon>
      <button ion-button class="but m-b-2"  [routerLink]="['/helpvideo']" >Help video</button>
      <ion-icon class="fot-icons" *ngIf="userDetail.reg_UserType=='Admin'" src="../../assets/img/21.svg"  [routerLink]="['/admin-webinar']"></ion-icon>
      <ion-icon class="fot-icons" *ngIf="userDetail.reg_UserType=='User'"  src="../../assets/img/21.svg"  [routerLink]="['/createwebinar']"></ion-icon>
      <ion-icon class="fot-icons" src="../../assets/img/27.svg" (click)="presentModal()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-footer>