<ion-content>
  <div class="admin-profile slideyou">
    <div class="item-prof">
      <img src="../../assets/img/Admin-profil.png" />
      <h2>My Profile</h2>
    </div>
    <div class="form-prof slideyou">

      <form [formGroup]="adminForm" class="form" (submit)="doSignup()">


        <div class="form-group">
          <ion-item>
            <ion-input name="profession" type="text" placeholder="Profession" class="form-control"
              formControlName="profession"></ion-input>
            <ion-icon src="../../assets/img/14.svg"></ion-icon>
          </ion-item>

          <div class="error-mess" *ngIf="adminSubmitted && adminForm.controls.profession.errors?.required">
            *Profession Field is required.
          </div>
        </div>


        <div class="form-group">
          <ion-item>
            <ion-input name="company" type="text" placeholder="Institution / Company" class="form-control"
              formControlName="institution"></ion-input>
            <ion-icon src="../../assets/img/7.svg"></ion-icon>
          </ion-item>

          <div class="error-mess" *ngIf="adminSubmitted && adminForm.controls.institution.errors?.required">
            *Institution/Company Field is required.
          </div>
        </div>


        <div class="form-group">
          <ion-item>
            <ion-input name="department" type="text" placeholder="Department" class="form-control"
              formControlName="department"></ion-input>
            <ion-icon src="../../assets/img/15.svg"></ion-icon>
          </ion-item>

          <div class="error-mess" *ngIf="adminSubmitted && adminForm.controls.department.errors?.required">
            *Department Field is required.
          </div>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-input name="purpose" type="text" placeholder="Purpose" class="form-control" formControlName="purpose">
            </ion-input>
            <ion-icon src="../../assets/img/16.svg"></ion-icon>
          </ion-item>

          <div class="error-mess" *ngIf="adminSubmitted && adminForm.controls.purpose.errors?.required">
            *Purpose Field is required.
          </div>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-input name="Place" type="text" placeholder="Place" class="form-control" formControlName="place">
            </ion-input>
            <ion-icon src="../../assets/img/17.svg"></ion-icon>
          </ion-item>

          <div class="error-mess" *ngIf="adminSubmitted && adminForm.controls.place.errors?.required">
            *Place Field is required.
          </div>
        </div>
        <!-- <button ion-button class="but" (click)="Update()">Confirm to Update</button>  -->
        <div>
          
          <button ion-button *ngIf="confirm" class="but"> Confirm to Update</button>
          <div class="meter" *ngIf="success">Confirm to Update
            <span class="prog" [style.width]="width+'%'"></span>
          </div>
          <div class="meter" *ngIf="UpdateSussess">Confirm to Update
            <span class="prog" [style.width]="width+'%'"><ion-icon style="margin-top: 1px; margin-left: -1px;" name="checkmark-circle-outline"></ion-icon>Update Successfully</span>
          </div>
          <!-- <button ion-button  class="but" style="background-color: green;"> <ion-icon src="../../assets/img/24.svg"></ion-icon> Updated Successfully
          </button> -->
        </div>
      </form>
    </div>
  </div>
</ion-content>