<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
  <div class="flex-tool">
    <ion-icon class="fot-icons active" src="../../assets/img/45-home.svg"></ion-icon>
    <ion-icon class="fot-icons" src="../../assets/img/1.svg"></ion-icon>
    <button ion-button class="but m-b-2" (click)="Collapse()">Collapse</button>
    <ion-icon class="fot-icons" src="../../assets/img/21.svg"></ion-icon>
    <ion-icon class="fot-icons" src="../../assets/img/27.svg"  (click)="presentModal()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-footer>
