@import "../../app/webload.scss";

.slidein{
    animation: slideMe .2s ease-in;
  }
  @keyframes slideMe{
    0%{
      transform: skewX(0deg) translateX(100%)
    }
    100%{
      transform: skew(0deg)
    }
  }
  ion-content { --background: transparent; margin-top: 2%;}
ion-footer ion-toolbar{
    padding: 2% 2%;
    box-shadow: 0px -1px 0px #666666;
    .fot-icons{
      font-size: 24px;
  padding: 5px 8px;
  margin: 0px 2px 0px 2px;
      color:#666666;
    }
    .active{
      color:#008ec3;
    }
    .but{ margin: 0px; background: #008ec3;}
}

/* Transparent standard */

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
.webinar-bg{
    background:  url(../../assets/img/personal-d.png) no-repeat center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; 
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;  
    }
  .myprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .form-prof{
    width: 100%;
    padding:0% 6% 2%;
  }
  .p-t-2{
    padding-top: 2%;
  }
ion-item{
    --background: #ffffff;
      --color: rgb(24, 24, 24);
      margin: 16px 0px;
      border-radius: 4px;
      border: 1px solid #bfbfbf;
  }
  .butspan{
      background-color:#00c353;
      position:absolute;
      left: 0px;
    top: 0px;
    padding: 14px 40px;
    border-radius: 100px 0px 0px 100px;
  }

  .foure, .edit, .user{
    color:#ffffff;
    font-size: 24px;
    padding: 5px 8px;
    margin: 0px 8px 0px 0px;
    float: right;
  }

/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

/* Show background if class is active */
.show-background {
    border-style: none;
    background: var(--ion-color-primary);
}

/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}
h3{
    color: #666666;
    font-size: 18px;
    font-weight: 500;
}
p{font-size: 14px;
    color: #fff;}
.menucs{
        color: #fff;
        font-size: 40px;
        padding: 0px;
        margin: 0px;
}
.flex-tool{
    padding:0px;    
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.butw {
    width: 100%;
}
ion-icon{
    color: #999999;
}
.personal{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 17px;
    margin-top: 10px;
    img {
    max-height: 95%;
    max-width: 95%;
    margin: 5px auto 0px;
    pointer-events: none;
    border: 5px solid #ffffff;
}
h2 {
    margin-top: 3px;
    font-size: 17px;
    font-weight: 400;
    padding: 17px 7px 4px;
    color: #fff;
    margin: 0px 0px 20px;
}.item-0{
    width: 30%;
}a {
    font-size: 10pt;
    padding:6px;
    background-color: transparent;
    color:  #ffffff;
    text-decoration: none;
    font-weight: 500;
}
.active{
    color:  #db00ff;
}
}
.m-b-2{margin-bottom: 20px;}
.webinar{display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .item{
        flex: 3 1 auto;
    p{
        font-size: 13px;
        color: #333333;
    }
    h4 {
        font-size: 26px;
        margin: 20px 0px 0px;
        font-weight:300;
    }
}
}
.his{
    .item:nth-of-type(3) {flex: 1 0 1000px;}
}