
<ion-content class="bg-main  slidein">
  <div class="flex-box">
    <div class="item-box">
      <ion-icon src="../../assets/img/3.svg"></ion-icon>
      <h3>Forgot Password?</h3>
      <p>Enter the otp below and then  reset password</p>
      <form [formGroup]="forgototpForm" class="form" (submit)="doSignup()">

        <div class="form-group">
        <ion-item>
          <ion-input name="number" type="number" placeholder="Enter your otp" (click)="clearr()" (input)="otp($event)" class="form-control" formControlName="number" ></ion-input>
          <ion-icon name="warning-outline"></ion-icon>
        </ion-item>
        <div class="error-mess1" *ngIf="isSubmitted && forgototpForm.controls.number.errors?.required">
          Otp is required.
        </div>
        <div class="error-mess2" *ngIf="wrongOtp">
          your OTP is wrong.
        </div>
      </div>
        <button class="Send" type="submit">Confirm</button>
      </form>    
      <button class="Close" (click)="Close()" type="submit">Cancel</button>    
    </div>

  </div>
</ion-content>