ion-menu {
  ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0)));
  img {
    max-height: 70%;
    max-width: 70%;
    margin: 10px auto 40px;
    pointer-events: none;
  }
}
ion-list{
  background:#ffffff00 !important;
  text-align: center;
  ion-menu-toggle{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 20% 0px 12%;
  }
}
}
ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 0px 0px 20px;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}


ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  --background: rgba(255, 255, 255, 0) !important;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon, ion-menu.md ion-item.selected ion-label {
  color: #ffffff;
}

ion-menu.md ion-item ion-icon {
  color: #bc93c3;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  color: #bc93c3;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}
ion-item.selected {
  --color: var(--ion-color-primary);
}
.close{
  text-align: right;
  ion-icon{
  font-size: 36px;
  color:#ffffff;
  }
}
.flex-app{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10% 25% 0px 10%;
    align-items: center;
}
.item-app{
  ion-icon{font-size: 24px;
    color: #ffffff;
    padding: 10px 10px 10px 0px;}
  h3{color: #ffffff;  margin: 0px;}
  h4{color: #ffffff;    font-size: 16px;
    font-weight: 300;    margin: 0px;}
}








@media only screen and (min-width: 800px){
  ion-menu {
    ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0)));
    img {
      max-height: 70%;
      max-width: 90%;
      margin: 10px auto 40px;
      pointer-events: none;
    }
  }
  ion-list{
    background:#ffffff00 !important;
    text-align: center;
    ion-menu-toggle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20% 0px 12%;
    }
  }
  }
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 0px 0px 20px;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
    --background: rgba(255, 255, 255, 0) !important;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon, ion-menu.md ion-item.selected ion-label {
    color: #ffffff;
    font-size: 35px;
  }
  
  ion-menu.md ion-item ion-icon {
    color: #bc93c3;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
    color: #bc93c3;
    font-size: 30px;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  .close{
    text-align: right;
    ion-icon{
    font-size: 36px;
    color:#ffffff;
    }
  }
  .flex-app{
    display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10% 25% 0px 10%;
      align-items: center;
  }
  .item-app{
    ion-icon{font-size: 35px;
      color: #ffffff;
      padding: 10px 10px 10px 0px;}
    h3{color: #ffffff;  margin: 0px;}
    h4{color: #ffffff;    font-size: 20px;
      font-weight: 300;    margin: 0px;}
  }

}

@media only screen and (min-width: 720px) and (min-height: 1600px){
  ion-menu {
    ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0)));
    img {
      max-height: 70%;
      max-width: 90%;
      margin: 10px auto 40px;
      pointer-events: none;
    }
  }
  ion-list{
    background:#ffffff00 !important;
    text-align: center;
    ion-menu-toggle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20% 0px 12%;
    }
  }
  }
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 0px 0px 20px;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
    --background: rgba(255, 255, 255, 0) !important;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon, ion-menu.md ion-item.selected ion-label {
    color: #ffffff;
    font-size: 35px;
  }
  
  ion-menu.md ion-item ion-icon {
    color: #bc93c3;
    font-size: 38px;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
    color: #bc93c3;
    font-size: 30px;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  .close{
    text-align: right;
    ion-icon{
    font-size: 36px;
    color:#ffffff;
    }
  }
  .flex-app{
    display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10% 25% 0px 10%;
      align-items: center;
  }
  .item-app{
    ion-icon{font-size: 35px;
      color: #ffffff;
      padding: 10px 10px 10px 0px;}
    h3{color: #ffffff;  margin: 0px;}
    h4{color: #ffffff;    font-size: 20px;
      font-weight: 300;    margin: 0px;}
  }

}