<ion-content class="slidein">
<div class="flex-box">
    <div class="item-box">
        <ion-icon src="../../assets/img/7.svg"></ion-icon>
        <p>Welcome</p> 
        <h2>{{UserDetails.reg_Name}}</h2>
        <h3>User</h3>
        <p>As a USER Now you can Update your Profile
        to create new webinar and access 
        macro wheel</p>
    </div>
    <div class="item-box1">
        <button class="update" type="submit" (click)="UpdateProfile()">Update Profile to Continue</button>
    </div>
</div>
</ion-content>
