
ion-content {
    --background:  url(../../assets/img/login-bg.png) no-repeat center/cover fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
ion-item{
    --background: #ffffff;
      --color: rgb(24, 24, 24);
      margin: 20px 0px;
      border-radius: 4px;
      height: 46px;
  }

  // ion-input{
  //   color:aqua;
  // }
  .Close{
    background: #42025200;
      width: 100%;
      border-radius: 100px;
      border: 1px solid #ccadcb;
      padding: 15px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1.1px;
      color: #ccadcb;
      margin: 20px 0px 20px;
  }
  
  .Send{
    background: #54006a;
      width: 100%;
      border-radius: 100px;
      padding: 15px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1.1px;
      color: #fff;
      margin: 26px 0px 0px;
  }
  img {
    max-height: 60%;
    max-width: 60%;
    margin: 10px auto 10px;
    pointer-events: none;
  }.flex-box{
    padding: 100px 20px 20px ;
  .item-box{
    text-align: center;
    margin-top: -60px;
  }
  }
  .icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon{
      font-size: 54px;
      margin: 10px;
      padding: 0px;
    }
  }
  .item-box{
    color: #ffffff;
    font-size: 80px;
  p{
    color: #ffffff;
    font-size: 16px;
  }
}
form{
display: flex;
flex-direction: column;}


.error-mess1 {
  font-size: 16px;
  color: red;
  text-align: left;
  margin-top: 3px;
}

.error-mess2 {
  font-size: 16px;
  color: red;
  text-align: left;
  margin-top: 2px;
}


@keyframes slideMe{
  0%{
    transform: skewX(0deg) translateX(100%)
  }
  100%{
    transform: skew(0deg)
  }
}

.slidein{
  animation: slideMe .2s ease-in;
}


.net {
  text-align: left;
  background-color: #fff;
  font-size: 16px;
  height: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 3px 3px 3px 13px;
  margin-top: -25px;
  margin-left: 0px;
  color: black;
  margin-right: 0px;
}



.item-interactive.ion-invalid {
  --highlight-background: none !important;
}
.item-interactive.ion-valid {
  --highlight-background: none !important;
}
