<ion-content class="bg-main slidein">
  <div class="flex-box">
    <div class="item-box">
      <ion-icon src="../../assets/img/3.svg"></ion-icon>
      <h3>Forgot Password?</h3>
      <p>Enter the your newpassword and confirmpassword </p>
      <form [formGroup]="resetpasswordForm" class="form" (submit)="doSignup()">

        <div class="form-group">
          <ion-item>
            <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Enter newpassword"
              class="form-control" (input)="passwordValidation($event.target.value)" formControlName="password">
            </ion-input>
            <ion-icon *ngIf="key1" name="key-outline"></ion-icon>
            <ion-icon *ngIf="key2" name="key-outline" style="color: red;"></ion-icon>
            <ion-icon *ngIf="key3" name="key-outline" style="color: green;"></ion-icon>
          </ion-item>
          <div *ngIf="viewpassword" class="net">{{password}}</div>
          <div class="error-mess1" *ngIf="isSubmitted && resetpasswordForm.controls.password.errors?.required">
            Password id is required.
          </div>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-input name="confirmpassword" [(ngModel)]="confirmpassword" type="password"
              placeholder="Enter confirmpassword" class="form-control"
              (input)="confirmpasswordValidation($event.target.value)" formControlName="confirmpassword"></ion-input>
            <ion-icon *ngIf="key11" name="key-outline"></ion-icon>
            <ion-icon *ngIf="key22" name="key-outline" style="color: red;"></ion-icon>
            <ion-icon *ngIf="key33" name="key-outline" style="color: green;"></ion-icon>

          </ion-item>
          <div *ngIf="viewconpassword" class="net">{{confirmpassword}}</div>
          <div class="error-mess1" *ngIf="isSubmitted && resetpasswordForm.controls.confirmpassword.errors?.required">
            Confirm password id is required.
          </div>
          <div class="error-mess2" *ngIf="mustMatch"> Password do not match</div>
        </div>
        <button class="Send"  type="submit">Submit</button>
      </form>
      <button class="Close" (click)="Close()" type="submit">Cancel</button>
    </div>

  </div>
</ion-content>