<ion-content class="slidein">
  <div class="flex-box">
      <div class="item-box">
          <ion-icon src="../../assets/img/35.svg"></ion-icon>
          <p>Welcome</p> 
          <h2>{{UserDetail.reg_Name}}</h2>
          <h3>Admin</h3>
          <p>As a Admin Now you can Update your Profile
            to create new webinar and access 
            macro wheel</p>
      </div>
      <div class="item-box1">
          <button class="update" type="submit" (click)="UpdateProfile()">Update Profile to Continue</button>
      </div>
  </div>
  </ion-content>
