<ion-content class="bg-main  slidein">
    <div class="flex-box">
      <div class="item-box">
        <ion-icon src="../../assets/img/3.svg"></ion-icon>
        <h3>Forgot Password?</h3>
        <p>Enter your email below and we’ll send you a otp</p>
        <form [formGroup]="forgotpassForm" class="form" (submit)="doSignup()">
         
         <div class="form-group">
          <ion-item>
            <ion-input name="email" type="email" placeholder="Email Id" class="form-control" (click)="clear()" formControlName="email" ngModel required></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>
          <div class="error-mess1" *ngIf="isSubmitted && forgotpassForm.controls.email.errors?.required ">
            Email id is required.
          </div>
          <div class="error-mess1" *ngIf="isSubmitted && forgotpassForm.controls.email.errors?.email">
            Enter valid email is required.
          </div>
          <div class="error-mess1" *ngIf="Invalidemail">
            Required Registered Email id </div>
         </div> 

          <button class="Send"  type="submit">Send</button>
          
        </form>   
        <button class="Close" (click)="Close()" type="submit">Close</button>     
      </div>

    </div>
</ion-content>

