<div class="modal_content">
  <ion-icon class="user" (click)="dismiss()" src="../../assets/img/24.svg"></ion-icon>
  <ion-content padding class="main-view">
    <ion-slides  pager="true" slidesPerView="1" shouldLockSwipes="1">
      <ion-slide>
        <div class="slide">
          <h2>The wheel of webinar  contains </h2>
          <img src="../../assets/img/webinar-imag.png"/>
          <h2>One Macro Wheel</h2>
          <p>Each spoke in the macro wheel Represents an important step in the webinar</p>
          <div class="dot-box">
            <span class="active"></span>
            <span></span>
            <span></span>
        </div>
          <p>1/3</p>
        </div>
      </ion-slide>
      <ion-slide class="slide2">
        <div class="slide">
          <h2>The wheel of webinar  contains </h2>
          <img src="../../assets/img/webinar-imag.png"/>
          <h2>One Macro Wheel</h2>
          <p>Each spoke in the macro wheel Represents an important step in the webinar</p>
          <div class="dot-box">
            
            <span></span>
            <span class="active"></span>
            <span></span>
        </div>
          <p>2/3</p>
        </div>
      </ion-slide>
      <ion-slide class="slide3">
        <div class="slide">
          <h2>The wheel of webinar  contains </h2>
          <img src="../../assets/img/webinar-imag.png"/>
          <h2>One Macro Wheel</h2>
          <p>Each spoke in the macro wheel Represents an important step in the webinar</p>
          <div class="dot-box">
            
            <span></span>
            <span></span>
            <span class="active"></span>
        </div>
          <p>3/3</p>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
</div>