<ion-content class="slidein">
  <div class="flex-box">
      <div class="item-box">
          <ion-icon src="../../assets/img/7.svg"></ion-icon>
          <p>Great !</p> 
          <h2>{{userdetails.reg_Name}}</h2>
          <h3>User</h3>
          <p>Your Profile has been Updated Successfully
            Now you can takes  to the respective
            macro wheel</p>
      </div>
      <div class="item-box1">
          <button class="update" type="submit" (click)="createwebinar()">Create New Webinar</button>
      </div>
  </div>
  </ion-content>