<div class="modal_content">
 
  <ion-content padding class="main-view">
<div  style="height: 50px;">

</div>
    <div style="text-align: center;">
      <ion-icon  class="ialert" src="../../assets/img/33.svg"></ion-icon>
    </div>
    <div  style="height: 40px;">

    </div>
    <div style="text-align: center;">
      <h2 style="color: #8f157c; font-size: 35px;">You’re offline</h2>
      <p>Result will be available once you’re online again. You’ll get notified when they’re ready.</p>
    </div>
    <div style="height: 100px;">

    </div>
    <div style="text-align: center;">
      <a (click)="dismiss()" class="but-ion " > Try Again</a>
    </div>
   
     
  </ion-content>
</div>